
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  scroll-behavior: smooth;
}

@import "tailwindcss";
@plugin "daisyui";
@theme {
  --font-montserrat: "Montserrat", "sans-serif";
  --font-lato: "Lato", ;
  --font-poppins:'Poppins'
}
@plugin "daisyui" {
  themes: all;
}

 

.font-montserrat {
  font-family: "Montserrat", ;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-lato {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* skill marquee  */

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  white-space: nowrap;
  display: inline-flex;
}

.animate-marquee-reverse {
  animation: marqueeReverse 30s linear infinite;
  white-space: nowrap;
  display: inline-flex;
}

/* Pause on hover */
.group:hover .animate-marquee,
.group:hover .animate-marquee-reverse {
  animation-play-state: paused;
}
